body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    color: white;
    background-color: black;
    text-align: center;
}

a img {
    border: none;
}

#wrap {
    padding: 0;
    margin: 0px auto;
    width: 55em;
    color: black;
    background-color: white;
    position: relative;
    text-align: left;
}

#header {
    font-family: Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    color: white;
    background-color: black;
    border-bottom: black 1px solid;
}
#header p.antlogo {
    float: left;
    padding: 0.1em;
    margin: 0;
    vertical-align: text-bottom;
}

#header h1 {
    padding: 0.5em;
    margin: 0.25em;
}

#content {
    padding: 0.25em;
    float: right;
    width: 40em;
}

#content h2, #content h3, #content h4, #content h5, #content h6 {
    color: #3c3e5f;
}

#content h2 {
    padding: 0.1em;
    border-bottom: #3c3e5f 2px solid;
    margin-bottom: 0;
    font-variant: small-caps;
    clear: both;
}

#content h3 {
    border-bottom: #3c3e5f 2px solid;
    margin-bottom: 0;
}

#content .date, #content .updated {
    padding: 0.25em;
    font-size: smaller;
    float: right;
    margin: 0.25em;
    color: #3c3e5f;
    font-style: italic;
}

#content .author {
    font-size: small;
    float: right;
    color: #3c3e5f;
    font-style: italic;
}

#content blockquote {
    font-style: italic;
}

#content pre {
    border: 1px solid black;
    padding: 0.5em;
    margin: 0.5em;
    background-color: #eee;
}

#footer {
    font-size: smaller;
	padding: 0.25em;
    clear: both;
    background-color: #ddd;
}

#footer p.copyright {
    font-weight: bold;
    color: #3c3e5f;
    font-style: italic;
    margin-bottom: 0;
}

#footer p.license {
    margin-top: 0;
}

#footer p.updated {
	display: block;
	float: right;
	font-weight: normal;
	color: #888;
}

#footer a {
    color: #3c3e5f;
}

ul#nav {
    width: 13em;
    border-bottom: black 1px solid;
}

ul#nav, ul#nav ul {
    padding: 0;
    margin: 0px 0px 1em;
    border-right: black 1px solid;
    font-size: medium;
    list-style-type: none;
    background-color: #a82c7c;
}

ul#nav ul {
    font-size: small;
    margin: 0;
    border-style: none;
}

ul#nav li {
    padding: 0 0.25em;
    font-size: larger;
    margin: 0;
    border-left: black 1px solid;
    border-top: black 1px solid;
}

ul#nav li:hover, ul#nav li.navselected {
    color: yellow;
}

ul#nav a {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    text-decoration: none;
    color: white;
}

ul#nav a:link, ul#nav a:visited {
    color: white;
}

ul#nav a:hover {
    color: yellow;
}

#sidebar {
    padding: 0 1em;
    margin: 0px;
    width: 12em;
}
#sidebar h3, #sidebar h4, #sidebar h5, #sidebar p, #sidebar ul, #sidebar ol {
    font-size: small;
}

#sidebar h3, #sidebar h4, #sidebar h5 {
    margin-top: 1.5em;
    margin-bottom: 0;
}

#sidebar ul {
    padding: 0;
    margin:0;
    list-style-type: none
}

#sidebar li {
    padding-left: 0.5em;
}

table {
    width: 95%;
    margin: 1em auto;
    border-collapse: collapse;
    border: none;
    font-size: smaller;
}

table caption {
    padding: .25em;
    font-weight: bold;
}

table thead {
    font-size: larger;
}

table tr {
    border:1px solid #ccc;
}

table tr.odd {
    background-color: #ddd;
}

table tr.header {
    background-color: #bbd;
}

table th {
    font-weight: bold;
}

table td {
    color: #444;
}

table td, table th {
    padding: 0.25em;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    vertical-align: top;
}

table td.module {
    white-space: nowrap;
}

table tr.spacer {
    border: none;
}

table tr.spacer td {
    border: none;
}


blockquote {
    font-style: italic;
}

pre {
    border: 1px dashed black;
    background-color: #eee;
    padding: 0.5em;
}

h4 {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    color: black !important;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: bold;
}

#content p {
    padding-left: 1em;
}

/*
#content code {
    white-space: pre;
}
*/